@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --primary: #ac9c8d;
  --secondary: #26436c;
  --black: #333;
  --white: #fff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Arapey", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 0.5rem;
}

section {
  padding: 5rem 7%;
}

.heading {
  font-size: 4rem;
  color: var(--primary);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--primary);
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--secondary);
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
  text-decoration: none;
}

.header .logo i {
  color: var(--primary);
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
  text-decoration: none;
}

.header .navbar a:hover {
  color: var(--primary);
}

.header .navbar .btn {
  margin-top: 0;
  color: var(--white);
}

.header .navbar .btn:hover {
  color: var(--white);
}

#menu-btn {
  display: none;
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: var(--black);
}

#menu-btn:hover {
  color: var(--primary);
}

.search {
  font-size: large;
}

/* Style the navbar */
/* Dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button */
.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 10px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* end */
body {
  margin-top: 20px;
  border: none;
}
.card {
  border: none;
}
.user-setting {
  margin-top: 200px;
  margin-bottom: 100px;
}
.ui-w-80 {
  width: 80px !important;
  height: auto;
}

.btn-default {
  border-color: rgba(24, 28, 33, 0.1);
  background: rgba(0, 0, 0, 0);
  color: var(--primary);
}

label.btn {
  margin-bottom: 0;
}

.btn-outline-primary {
  border-color: var(--primary);
  background: transparent;
  color: var(--primary);
}

.btn {
  cursor: pointer;
}

.text-light {
  color: var(--primary) !important;
}

.btn-facebook {
  border-color: rgba(0, 0, 0, 0);
  background: #3b5998;
  color: #fff;
}

.btn-instagram {
  border-color: rgba(0, 0, 0, 0);
  background: #000;
  color: #fff;
}

.card {
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
  overflow: hidden;
}

.account-settings-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.account-settings-links .list-group-item.active {
  font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
  background: transparent !important;
}

.account-settings-multiselect ~ .select2-container {
  width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
  color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.light-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

/* footer */
.footer {
  background: var(--secondary);
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--primary);
}

.footer .box-container .box a {
  font-size: 1.6rem;
  display: block;
  color: var(--white);
  padding: 1rem 0;
  text-decoration: none;
}

.footer .box-container .box a i {
  color: var(--primary);
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover {
  color: var(--primary);
}

.footer .share {
  padding-top: 2rem;
  text-align: center;
}

.footer .share a {
  color: var(--primary);
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  border: 0.1rem solid var(--primary);
  margin: 0.3rem;
  text-decoration: none;
}

.footer .share a:hover {
  color: var(--white);
  background: var(--primary);
  transform: rotate(360deg);
}

.footer .credit {
  font-size: 2rem;
  text-align: center;
  margin-top: 2.5rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  color: var(--white);
}

.footer .credit span {
  color: var(--primary);
}

/* end */
.text {
  font-weight: 800 !important;
  font-size: 20px !important;
  bottom: 30px;
}

.row {
  font-size: large;
}

.input-group {
  height: 50px;
}

.cancel-button {
  background-color: white;
  color: var(--primary);
}
.cancel-button:hover {
  color: white;
  background-color: var(--secondary);
}

.list-group-item:hover {
  background-color: var(--primary);
}
.log-out-button:hover {
  color: white;
  background-color: var(--secondary);
}

.tbl {
  width: 100%;
  border-collapse: collapse;
}
.tbl thead {
  background: var(--secondary);
  color: white;
}
.tbl thead tr th {
  font-size: 1.5rem;
  padding: 0.8rem;
  letter-spacing: 0.2rem;
  vertical-align: top;
  border: 1px solid #aab7b8;
}
.tbl tbody tr td {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: normal;
  text-align: center;
  border: 1px solid #aab7b8;
}
.tbl-button {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
.btn-trash {
  color: var(--primary);
  background: white;
}
@media (max-width: 768px) {
  .tbl thead {
    display: none;
  }
  .tbl tr,
  .tbl td {
    display: block;
    width: 100%;
  }
  .tbl tr {
    margin-bottom: 1rem;
  }
  .tbl tbody tr td {
    text-align: right;
    position: relative;
  }
  .tbl td::before {
    content: attr(data-lable);
    position: absolute;
    left: 0;
    width: 50%;
    text-align: left;
    padding-left: 1.2rem;
  }
}

/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem 3rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    background: var(--white);
    border-radius: 0.5rem;
  }
  .header .navbar.active {
    right: 2rem;
    transition: 0.4s linear;
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }
  .home .slide .content {
    width: 50rem;
  }
  .review .review-slider {
    width: 100%;
    padding: 1rem;
    padding-top: 15%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .slide .content {
    width: 30rem;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    height: 100px;
    overflow: hidden;
  }
  .right-box {
    padding: 20px;
  }
} /*# sourceMappingURL=login.css.map */
